{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<div class="container" style="height:100vh">
    <div class="row justify-content-center h-100">
      <div class="col align-self-center border-success text-center card text-black my-3" style="max-width: 25rem;">
        <div class="card-header  bg-transparent"><h3>Log Out</h3>
              <p>Are you sure log out?                        
              <br/>
              <div class="ml-auto">
                <form method="post" action="{% url 'account_logout' %}">
                  {% csrf_token %}
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                  {% endif %}
                  <button class="btn btn-dark float-right" type="submit">{% trans 'Log Out' %}</button>
                  <a class="button btn btn-secondary float-left" href="/">cancel</a>
                </form>
              </div>            
        </div>
      </div>
    </div>




{% endblock %}
