{% extends 'todo/base.html' %}

{% block title %}
Todo List
{% endblock %}

{% block content%}
    {% if todo_list.exists %}
        {% for t in todo_list %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">{{t.title}}</h5>
                  <p class="card-text">
                    <div class="input-group-text">
                        <input type="checkbox" aria-label="Checkbox for following text input" id='is_done'>&nbsp;{{t.content}}
                    </div>
                  </p>
                </div>
            </div>
        {% endfor %}
    {% endif %}            
{% endblock %}

{% block script %}
<script> 
    $(document).ready(function(){
        $("#is_done").change(function(){
            if($("#is_done").is(":checked")){
                alert("체크박스 체크했음!");
            }else{
                alert("체크박스 체크 해제!");
            }
        });
    });
</script>
{% endblock %}