<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>About Me</title>

        <link href="{% static 'blog/bootstrap/bootstrap.min.css'%}" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="{% static 'single_pages/css/about_me.css' %}" media="screen">
        <script src="https://kit.fontawesome.com/3928d3f8fc.js" crossorigin="anonymous"></script>
    </head>
    <body>

        {% include 'blog/navbar.html' %}
        <section>
            <div class="container mt-4">
                <div class="row">
                    <div class="col-lg-8">
                        <h1>안녕하세요. 이충녕입니다.</h1>
                        <br />
                        <p class="lead">
                            <h3>Interest</h3>
                            <ul>
                                <li>Machine Learning (reinforcement learning, mathematical optimization)</li>
                                <li>Wireless Communication</li>
                                <li>Back-End (data processing)</li>
                            </ul>
                            <br/>
                            <h3>Education</h3>
                            <ul>
                                <li>Bachelor of Science in Electronic Engineering(EE), Korea Polytechnic University(2019.03~ )</li>
                            </ul>
                            <br/>
                            <h3>Contact</h3>
                            <ul>
                                <li>e-mail : lc9902130509@kpu.ac.kr
                            </ul>
                        </p>
                    </div>
                    <div class="col-lg-4 margin-for-footer">
                        <img class="img-fluid" src="{% static 'single_pages/images/amsterdam_sky.jpg'%}">
                        <br/><br/>
                        <a href="https://github.com/sive2045" class="btn btn-primary btn-lg active" target='_blank' role="button" aria-pressed="true">Github</a>                   
                    </div>
                </div>
            </div>
        </section>


        <div class="fixed-bottom">
            {% include 'blog/footer.html' %}
        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    </body>
</html>